body{
    margin: 0;
    min-height: 100vh;
    background-color: #E5E5E5;
}
.banner{
    position: relative;

}

.banner-image{
    width: 100%;
}

.banner::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}



.banner-content{
    position: absolute;
    top: 0;
    left: 0;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}

.banner-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}

.banner-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 0px;

}


.button-orange{
    display:inline-block;
    font-family: 'Montserrat', sans-serif;
    background-color: #FF8E6E;
    font-size: 14px;
    font-weight: 700;
    padding: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.button-black{
    display:inline-block;
    font-family: 'Montserrat', sans-serif;
    background-color: #515070;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 20px;
    border-radius: 3px;
    cursor: pointer;
}

@media(max-width: 720px){
}

@media(max-width: 720px){

   


    .banner-image{
        width: 100%;
        height: 600px;
    }

    .banner-content{
        height: 600px;    
    }

    .banner-title, .service-title{
        font-size: 38px;
    }
    
}